:root {
  --mq-width: 320px;
  --mq-height: 180px;
  --thumbnail-width: var(--mq-width);
  --thumbnail-height: var(--mq-height);
}

#container {
  --block-spacing-vertical: 0;
  display: grid;

  grid-template-columns: repeat(auto-fill, var(--thumbnail-width));
  column-gap: var(--spacing);

  justify-content: space-between;
  row-gap: var(--spacing);
}

#container img {
  max-width: revert;
  height: revert;
  max-width: var(--thumbnail-width);
  max-height: var(--thumbnail-height);
}

#container article {
  --spacing: 0;
  width: min-content;
}

#container p {
  margin: calc(var(--typography-spacing-vertical) / 2);
}

#container article > footer {
  height: calc(100% - var(--thumbnail-height));
}
